<div class="book-tile">
  <h3>{{book.title}}</h3>
  <img src={{book.image}} alt={{book.title}} />
  <p>{{book.author}}</p>
  <p>{{book.publishDate}}</p>
  <p>{{book.price}}</p>
  <p>{{book.genre}}</p>
  <p>{{book.description}}</p>
</div>
